<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <packageSources>
    <add key="public" value="https://api.nuget.org/v3/index.json" />
    <add key="customfeed" value="https://nexus.defdev.pl/repository/nuget-hosted/"  />
  </packageSources>

  <packageSourceCredentials>
    <customfeed>
      <add key="Username" value="reader" />
      <add key="ClearTextPassword" value="reader" />
    </customfeed>
  </packageSourceCredentials>
</configuration>
